<ion-view title="LED Configuration" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="lEDConfiguration-heading8" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Configure your LED emplem by drawing figure:</h1>
        <div class="">
            <img src="img/3bpgVzN2QneimNVPBcKl_113652130.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <button id="lEDConfiguration-button6" class=" button button-dark  button-block ">Save</button>
    </ion-content>
</ion-view>