<ion-view title="Settings" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="settings-heading5" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Sync your device:</h1>
        <button id="settings-button4" class=" button button-dark  button-block ">Click to sync SnapCruze Helmet</button>
        <h1 id="settings-heading6" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Emergency Contact Info:</h1>
        <form id="settings-form5" class="list ">
            <label class="item item-input " id="settings-input2" name="contact1name">
                <span class="input-label">Contact Name:</span>
                <input type="text" placeholder="Full Name">
            </label>
            <label class="item item-input " id="settings-input3" name="contact1phone">
                <span class="input-label">Phone Number:</span>
                <input type="text" placeholder="(888) 888-8888">
            </label>
            <label class="item item-input " id="settings-input4" name="contact1email">
                <span class="input-label">Email:</span>
                <input type="text" placeholder="john@qualcomm.com">
            </label>
        </form>
        <button id="settings-button5" class=" button button-dark  button-block ">Add another emergency contact</button>
        <p id="settings-markdown1" style="color:#FFFFFF;text-align:center;" class=" ">IMPORTANT: This option will send a text message and email alert to your emergency contact if we detect that your helmet suffered a severe accident.</p>
        <form id="settings-form6" class="list ">
            <div class="spacer" style="height: 100px;"></div>
            <h4 id="settings-heading7" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Do you want us to send the ambulance an alert message if we detect that your helmet had a severe impact?</h4>
            <ion-checkbox>Enable Ambulance Alert</ion-checkbox>
            <div class="spacer" style="height: 100px;"></div>
        </form>
    </ion-content>
</ion-view>