<ion-view title="Tip of the Day" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="tipOfTheDay2-heading9" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Get in Gear</h1>
        <p id="tipOfTheDay2-markdown2" style="color:#FFFFFF;" class=" ">Don’t pedal in high gear for long periods; this can increase pressure on your knees. Shift to lower gears and faster revolutions to get more exercise with less stress on your knees. The best cadence for most cyclists is 60 to 80 revolutions per
            minute (rpm), though bicycle racers pedal in the range of 80 to 100 rpm.</p>
    </ion-content>
</ion-view>