<ion-view title="Tips to Stay Safe" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="tipsToStaySafe-form1" class="list ">
            <label class="item item-input" name="tipsSearchBar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search  for tips">
            </label>
        </form>
        <h1 id="tipsToStaySafe-heading1" style="color:#FFFFFF;font-weight:lighter;text-align:center;" class=" ">Tips for staying safe on the road:</h1>
        <a ui-sref="snapCruise.tipOfTheDay2" id="tipsToStaySafe-button1" class=" button button-dark  button-block ">Tip of the Day!</a>
        <ion-list id="tipsToStaySafe-list2" class=" ">
            <ion-item class="item-icon-right  " id="tipsToStaySafe-list-item6">Monday, June 27th
                <i class="icon ion-android-bicycle"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tipsToStaySafe-list-item7">Sunday, June 26th
                <i class="icon ion-android-bicycle"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tipsToStaySafe-list-item8">Saturday, June 25th
                <i class="icon ion-android-bicycle"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tipsToStaySafe-list-item10">Friday, June 24th
                <i class="icon ion-android-bicycle"></i>
            </ion-item>
            <ion-item class="item-icon-right  " id="tipsToStaySafe-list-item11">Thursday, June 23rd
                <i class="icon ion-android-bicycle"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>